p{
background-color: black;
max-width: 240px;
}

h1{
font-family: "Impact";
color: blue;
text-align: center;
}

h2{
text-align: center;
color: green;
}
body{

 background: url('images/bg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


background-color: black;
color: white;
}
h3{
background-color: black;
color: yellow;
}
table, td, div{
border-style: solid;
border-width: 3px;
border-color: yellow;
padding: 10px;
margin: 10px;
background-color: black;
}

th{
border-style: solid;
border-width: 1px;
border-color: yellow;
padding: 5px;
margin: 5px;

}
.control{
text-align: center;
}
canvas{
background-color: black;
border-style: solid;
border-width: 1;
border-color: yellow;
}
