<h1>Welcome to the password protected page</h1>

<!--If user authenticated locally -->
{{#if username}}
<p>Hello, {{username}}!</p>
{{/if}}

<!-- if user authenticated through Twitter -->
{{#if twitterName}}
<p>Hello, {{twitterName}}!</p>
{{/if}}

<P>You signed up on {{signupDate}}</P>

<a href="/gamescreen">Go to game</a>
